[submodule "RLCO/account-analytic"]
	path = RLCO/account-analytic
	url = git@github.com:RLCO/account-analytic.git
	branch = 12.0

[submodule "RLCO/odoo-12.0-pharmacy"]
	path = RLCO/odoo-12.0-pharmacy
	url = git@github.com:RLCO/odoo-12.0-pharmacy.git
	branch = master

[submodule "CLVsol/clvsol_odoo_addons"]
	path = CLVsol/clvsol_odoo_addons
	url = git@github.com:CLVsol/clvsol_odoo_addons.git
	branch = 12.0

[submodule "mtc-jordan/flexipharmacy-odoo"]
	path = mtc-jordan/flexipharmacy-odoo
	url = git@github.com:mtc-jordan/flexipharmacy-odoo.git
	branch = master

[submodule "RLJO/testing"]
	path = RLJO/testing
	url = git@github.com:RLJO/testing.git
	branch = 13
