[submodule "RLCO/Multti-RL"]
	path = RLCO/Multti-RL
	url = git@github.com:RLCO/Multti-RL.git
	branch = OCA1

[submodule "RLJO/test"]
	path = RLJO/test
	url = git@github.com:RLJO/test.git
	branch = oca

[submodule "RLJO/All-Apps"]
	path = RLJO/All-Apps
	url = git@github.com:RLJO/All-Apps.git
	branch = RL

[submodule "RLJO/All-Appsj"]
	path = RLJO/All-Appsj
	url = git@github.com:RLJO/All-Apps.git
	branch = RL

[submodule "RLJO/logistic"]
	path = RLJO/logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "RLJO/logi"]
	path = RLJO/logi
	url = git@github.com:RLJO/logi.git
	branch = master

[submodule "RLJO/1"]
	path = RLJO/1
	url = git@github.com:RLJO/1.git
	branch = 1111
